@model IEnumerable<DWFIAP.WebApp.Models.AlunoTurmaRelacaoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Relação de Alunox x Turma</h1>

<p>
    <a asp-action="Create">Registrar aluno em turma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aluno_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turma_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma_Id)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new {Aluno_Id = item.Aluno_Id, Turma_Id = item.Turma_Id })
            </td>
        </tr>
}
    </tbody>
</table>
