@model IEnumerable<WebApplication1.Models.AlunoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Alunos</h1>

<p>
    <a asp-action="Create">Cadastrar novo aluno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id }) 
                </td>
            </tr>
        }
    </tbody>
</table>

@*<script>
    function Delete(idAluno) {

    if(idAluno > 0)
        $.ajax({

            url: '/Aluno/Delete?Id=' + idAluno,
            type 'DELETE',
            dataType 'json',
            success: function(data) {

            },
            error: function (ex) {
                console.log("Erro na operação!")
            }
        })
    }

</script>*@